<!DOCTYPE html>
<html>
  <head>
    <title>Your App</title>
    <%= csrf_meta_tags %>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload',type:'css' %>
  
    <%= javascript_importmap_tags %>

  </head>
  <body>
    <% if logged_in? %>
      <nav class="bg-gray-800 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
          <h1>Dashboard</h1>
          <%= button_to "Logout", logout_path, method: :delete, class: "bg-red-500 px-4 py-2 rounded" %>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>